.idea
__pycache__
PAR-TOSEM
template/*.py
!template/test_code.py
*/read_file.py
read_file.py
reference
config.json
*/.hypothesis
*.pkl
!conversation
result/*
!result
humaneval-x/*
!humaneval-x/codegeex
humaneval-x/codegeex/*
!humaneval-x/codegeex/benchmark
humaneval-x/codegeex/benchmark/*
!humaneval-x/codegeex/benchmark/evaluate_*.py
!humaneval-x/codegeex/benchmark/execution*.py
*.md
!README.md
data/code_contests/testset.parquet
!data/code_contests.jsonl
!data/code_contests_test.jsonl